@import url("variablesGenerales.css");
@import url("navBar.css");

body {
  background-image: linear-gradient(
      to left,
      rgba(0, 0, 0, 0.184),
      rgba(0, 0, 0, 0.621)
    ),
    url(./img/lignedecode.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  filter: contrast(100%);
  overflow-x: hidden;
  overflow-y: auto;
}

.header-title {
  font-size: 8rem;
  color: var(--color-white);
  letter-spacing: 1.75px;
  font-weight: 700;
  animation: letter-animation ease-in-out 1s forwards;
  text-transform: uppercase;
}

@keyframes letter-animation {
  0% {
    transform: translateX(-1200px);
  }
  100% {
    transform: translateX(70px);
    text-decoration: underline 10px var(--color-primary);
  }
}
