@import url("variablesGenerales.css");

body {
  background-color: #cbdcf6;
}

.title {
  text-align: left;
}

.title-letter {
  font-size: 15rem;
  color: var(--color-primary);
  letter-spacing: 1.45px;
  font-weight: 700;
  animation: letter-animation ease-in-out 1.7s forwards;
}

@keyframes letter-animation {
  0% {
    transform: translateX(-1200px);
  }
  100% {
    transform: translateX(100px);
  }
}
