/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

/*** REGLE DE BASE ***/
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.7;
  color: #777;
  box-sizing: border-box;
}
/*** LES VARIABLES REUTILISABLES ***/

:root {
  /* les couleurs de base  */
  --color-primary: #cdbf55d4;
  --color-white: #fff;
  --text-shadow: #666161;
}

/*** HEADER ***/
.header {
  height: 55rem;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.896),
      rgba(0, 0, 0, 0.49)
    ),
    url(./img/codeur.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: contrast(90%);
  position: relative;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-title {
  text-transform: uppercase;
  font-size: 2.4rem;
  font-weight: bold;
  color: var(--color-white);
  letter-spacing: 4px;
  text-shadow: 2px 0px 1px var(--text-shadow);

  padding: 2rem;
}
/*** NAVBAR ***/
.main-nav-list {
  display: flex;
  gap: 1rem;
  list-style: none;
  margin-right: 2rem;
  padding: 2rem;
}

.main-nav-link {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--color-white);
  font-size: 1.8rem;
  text-shadow: 2px 1px 1px var(--text-shadow);
  font-weight: bold;
  letter-spacing: 1.45px;
  padding: 1.7rem;
  position: relative;
  max-width: fit-content;
}

.main-nav-link:after {
  content: "";
  position: absolute;
  height: 35px;
  left: 0;
  top: 9px;
  width: 0;
  background: var(--color-primary);
  transition: width 0.3s ease-in-out, border 0.3s ease-in-out,
    border-radius 0.3s ease-in-out;
}

.main-nav-link:hover:after {
  width: 100%;
  border: 2px solid var(--color-white);
  border-radius: 1rem;
  z-index: -1;
}
/*** hEADER-CONTENT ***/
.header-content {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  border-left: 6px solid var(--color-white);
  position: absolute;
  padding: 2rem 2rem;
  left: 30%;
  top: 30%;
}

.header-presentation {
  color: var(--color-white);
  font-family: "Courier New", Courier, monospace;
  font-weight: 500;
  font-size: 2.5rem;
}

.header-name {
  text-transform: uppercase;
  font-size: 5.6rem;
  color: var(--color-white);
  letter-spacing: 3.5px;
  text-shadow: 1px 1px 1px var(--color-white);
  margin-top: -1.7rem;
  word-spacing: 0.5rem;
}

.header-work {
  color: var(--color-white);
  font-weight: 500;
  font-size: 3.2rem;
  letter-spacing: 1.3px;
  word-spacing: 0.3rem;
  margin-top: 3rem;
}

.header-cv {
  text-decoration: none;
  color: var(--color-white);
  font-size: 2.2rem;
  font-weight: 300;
  border: 4px solid var(--color-primary);
  padding: 0.5rem 1em;
  border-radius: 1rem;
  margin-top: 0.5rem;
  display: inline-block;
}
