/*** NAVBAR ***/
.main-nav-list {
  display: flex;
  gap: 1rem;
  list-style: none;
  margin-right: 2rem;
  padding: 2rem;
}

.main-nav-link {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--color-white);
  font-size: 1.8rem;
  text-shadow: 2px 1px 1px var(--text-shadow);
  font-weight: bold;
  letter-spacing: 1.45px;
  padding: 1.7rem;
  position: relative;
  max-width: fit-content;
}

.main-nav-link::after {
  content: "";
  position: absolute;
  height: 35px;
  left: 0;
  top: 9px;
  width: 0;
  background: var(--color-primary);
  transition: width 0.3s ease-in-out, border 0.3s ease-in-out,
    border-radius 0.3s ease-in-out;
}

.main-nav-link:hover::after {
  width: 100%;
  border: 2px solid var(--color-white);
  border-radius: 1rem;
  z-index: -1;
}

